
@blue:   rgb(46, 111, 182);
@cobalt: rgb(111, 168, 218);
@cyan:   rgb(54, 197, 243);
@green:  rgb(75, 186, 128);
@orange: rgb(250, 168, 125);
@purple: rgb(167, 123, 171);
@teal:   rgb(115, 203, 207);
@yellow: rgb(219, 224, 31);

@blue-dark:   darken(@blue, 15%);
@cobalt-dark: darken(@cobalt, 15%);
@cyan-dark:   darken(@cyan, 15%);
@green-dark:  darken(@green, 15%);
@orange-dark: darken(@orange, 15%);
@purple-dark: darken(@purple, 15%);
@teal-dark:   darken(@teal, 15%);
@yellow-dark: darken(@yellow, 15%);

@blue-darker:   darken(@blue, 25%);
@cobalt-darker: darken(@cobalt, 30%);
@cyan-darker:   darken(@cyan, 30%);
@green-darker:  darken(@green, 27%);
@orange-darker: darken(@orange, 30%);
@purple-darker: darken(@purple, 27%);
@teal-darker:   darken(@teal, 30%);
@yellow-darker: darken(@yellow, 25%);

@blue-light:   lighten(@blue, 15%);
@cobalt-light: lighten(@cobalt, 15%);
@cyan-light:   lighten(@cyan, 15%);
@green-light:  lighten(@green, 15%);
@orange-light: lighten(@orange, 10%);
@purple-light: lighten(@purple, 15%);
@teal-light:   lighten(@teal, 15%);
@yellow-light: lighten(@yellow, 25%);

@blue-lighter:   lighten(@blue, 40%);
@cobalt-lighter: lighten(@cobalt, 25%);
@cyan-lighter:   lighten(@cyan, 25%);
@green-lighter:  lighten(@green, 35%);
@orange-lighter: lighten(@orange, 18%);
@purple-lighter: lighten(@purple, 30%);
@teal-lighter:   lighten(@teal, 25%);
@yellow-lighter: lighten(@yellow, 40%);
