/// fix for right-edge white area when the viewport is narrower than bootstrap .container width set in non-responsive.css
@body-min-width: 970px;
body {
	min-width: @body-min-width !important;
}


// full-screen-height adjustments, rules

html, body { height: 100%; }

@screenheights: 50%, 100%, 150%, 200%, 300%, 400%;
.generate-screenheights(@screenheights);


// phases

.phase {
}
#sky-phase {
	.phase;
	
	background-color: @blue-darker;
	#gradient > .vertical(@blue-darker, @cobalt-darker);
	
	color: @cobalt;
}
#ambitions-phase {
	.phase;
	
	background-color: @purple-darker;
	#gradient > .vertical(@purple-dark, @teal-darker);
	
	color: white;
}
#title-phase {
	.phase;
	
	background-color: @cobalt-light;
	#gradient > .vertical(white, @cobalt-light);
	
	color: @purple-darker;
}
