@import "/fonts/cabin.less";
@import "/fonts/cabin-condensed.less";
@import "/fonts/cabin-sketch.less";
@import "/fonts/calligraffitti.less";
@import "/fonts/codystar.less";
@import "/fonts/dancing-script.less";
@import "/fonts/fredericka-the-great.less";
@import "/fonts/indie-flower.less";
@import "/fonts/megrim.less";
@import "/fonts/oswald.less";



// Text Styling

@font-size-base: 20px;

.monologue {
	@font-size: (@font-size-base * 2.5);
	.font_dancing-script(@font-size);
}
.statement {
	@font-size: (@font-size-base * 2.5);
	.font_codystar(@font-size);
	
	color: @teal-darker;
	text-shadow: 0 0 2px rgba(255, 255, 255, 1.0),
		0 0 5px rgba(255, 255, 255, 1.0);
}



// Layout

html, body { height: 100%; }

.screen-height-rel {
	.vh() {}
	& .vh-50, &.vh-50 { .vh(); min-height: 50vh; }
	& .vh-75, &.vh-75 { .vh(); min-height: 75vh; }
	& .vh-100, &.vh-100 { .vh(); min-height: 100vh; }
	& .vh-150, &.vh-150 { .vh(); min-height: 150vh; }
	& .vh-200, &.vh-200 { .vh(); min-height: 200vh; }
	& .vh-300, &.vh-300 { .vh(); min-height: 300vh; }
	& .vh-400, &.vh-400 { .vh(); min-height: 400vh; }
}

@base-height: 1000px;
@base-height-rel-height-base: (@base-height / 100);
.base-height-rel {
	.vh() {}
	& .vh-50, &.vh-50 { .vh(); height: (50 * @base-height-rel-height-base); }
	& .vh-75, &.vh-75 { .vh(); height: (75 * @base-height-rel-height-base); }
	& .vh-100, &.vh-100 { .vh(); height: (100 * @base-height-rel-height-base); }
	& .vh-150, &.vh-150 { .vh(); height: (150 * @base-height-rel-height-base); }
	& .vh-200, &.vh-200 { .vh(); height: (200 * @base-height-rel-height-base); }
	& .vh-300, &.vh-300 { .vh(); height: (300 * @base-height-rel-height-base); }
	& .vh-400, &.vh-400 { .vh(); height: (400 * @base-height-rel-height-base); }
}

@line-height-rel-height-base: (@line-height-computed / 4);
.line-height-rel {
	.vh() {}
	& .vh-50, &.vh-50 { .vh(); height: (50 * @line-height-rel-height-base); }
	& .vh-75, &.vh-75 { .vh(); height: (75 * @line-height-rel-height-base); }
	& .vh-100, &.vh-100 { .vh(); height: (100 * @line-height-rel-height-base); }
	& .vh-150, &.vh-150 { .vh(); height: (150 * @line-height-rel-height-base); }
	& .vh-200, &.vh-200 { .vh(); height: (200 * @line-height-rel-height-base); }
	& .vh-300, &.vh-300 { .vh(); height: (300 * @line-height-rel-height-base); }
	& .vh-400, &.vh-400 { .vh(); height: (400 * @line-height-rel-height-base); }
}

.vert-block(@verticalAlign) {
	display: table;
	width: 100%; height: 100%;
	// @maybe: min-height: 100%; // I don't remember where I found this CSS, but it originally had a min-height in it.  It might be necessary for some older or *cough*IE*cough* browsers.
	
	> * {
		display: table-cell !important;
		vertical-align: @verticalAlign;
	}
}

.vert-top-block { .vert-block(top); }
.vert-middle-block { .vert-block(middle); }
.vert-bottom-block { .vert-block(bottom); }



// Phases

.phase {
	position: relative;
	
	> .back {
		z-index: -1;
		
		&, & .back {
			position: absolute;
			width: 100%; height: 100%;
			
			&.fixed {
				position: fixed;
			}
		}
	}
}
#sky-phase {
	.phase;
	z-index: 100;
	
	color: #fff;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	
	> .back {
		&, & .back {
			&.clip {
				position: absolute !important;
				clip: rect(auto, auto, auto, auto);
			}
			&.fill {
				background-color: @sky-eve-mid; // fallback
				.linear-gradient(
					@dir: to bottom;
					@stops: @sky-eve-top-as-rgb, @sky-eve-mid-as-rgb, @sky-eve-bottom-as-rgb
				);
				
				.-skrollr-dry-animation(sky-fill-gradient; {
					@backgroundProp: ~"background[linear]";
					_sky_phase_open {
						@{backgroundProp}: linear-gradient(
							to bottom,
							@sky-eve-top-as-rgb, @sky-eve-mid-as-rgb, @sky-eve-bottom-as-rgb
						) no-repeat;
					}
					_sky_phase_close {
						@{backgroundProp}: linear-gradient(
							to bottom,
							@sky-night-top-as-rgb, @sky-night-mid-as-rgb, @sky-night-bottom-as-rgb
						) no-repeat;
					}
				});
			}
		}
	}
}
#ambitions-phase {
	.phase;
	z-index: 200;
	
	color: white;
	
	> .back {
		&, & .back {
			&.fill {
				background-color: @purple-darker; // fallback
				.linear-gradient(
					@dir: to bottom;
					@stops: @purple-dark, @teal-darker
				);
			}
		}
	}
}
#title-phase {
	.phase;
	z-index: 300;
	
	> .back {
		&, & .back {
			&.fill {
				background-color: @cobalt-light; // fallback
				.linear-gradient(
					@dir: to bottom;
					@stops: white, @cobalt-light
				);
			}
		}
	}
	
	.container, .container-fluid {
		position: relative; // everything inside is absolutely-positioned
	}
}



// Sky-Phase Starfields

@starfieldScrollOffsetBase: (@line-height-rel-height-base * -300);

.generateStarfieldRules(@uniqueName; @initialOpacity; @endOpacity; @initialScrollOffsetFactor; @endScrollOffsetFactor; @opacityEasing; @bgEasing) {
	&:extend(.starfield all);
	
	//& when not (@initialOpacity = 1.0) {
	//	& when not (@endOpacity = 1.0) {
			.opacity(@initialOpacity);
			
			.-skrollr-dry-animation(~"@{uniqueName}-op"; {
				@opacityProp: ~"opacity[@{opacityEasing}]";
				_sky_phase_open { @{opacityProp}: @initialOpacity; }
				_sky_phase_disappear { @{opacityProp}: @endOpacity; }
			});
	//	}
	//}
	
	&.image, & .image {
		@initialScrollOffset: (@starfieldScrollOffsetBase * @initialScrollOffsetFactor);
		@endScrollOffset: (@starfieldScrollOffsetBase * @endScrollOffsetFactor);
		background-position: 0 @initialScrollOffset;
		
		.-skrollr-dry-animation(~"@{uniqueName}-pos"; {
			@backgroundPositionProp: ~"background-position[@{bgEasing}]";
			_sky_phase_open_before { @{backgroundPositionProp}: 0 @initialScrollOffset; }
			_sky_phase_disappear { @{backgroundPositionProp}: 0 @endScrollOffset; }
		});
	}
}

.starfield {
	&.image, & .image {
		background-repeat: repeat;
	}
}

#starfield1 {
	@scrollOffsetFactor: 0.15;
	.generateStarfieldRules(
		starfield1;
		1.0; 1.0;
		(@scrollOffsetFactor * -0.2); @scrollOffsetFactor;
		linear; linear
	);
	&.image, & .image {
		background-image: url('../graphics/starfield1.s512.png');
	}
}
#starfield2 {
	@scrollOffsetFactor: 0.3;
	.generateStarfieldRules(
		starfield2;
		0.0; 1.0;
		(@scrollOffsetFactor * -0.2); @scrollOffsetFactor;
		outQuart1stQuarterTo3rdQuarter; linear
	);
	&.image, & .image {
		background-image: url('../graphics/starfield2.s1024.png');
	}
}
#starfield3 {
	@scrollOffsetFactor: 0.5;
	.generateStarfieldRules(
		starfield3;
		0.0; 1.0;
		(@scrollOffsetFactor * -0.2); @scrollOffsetFactor;
		outExpoMidToEnd; linear
	);
	&.image, & .image {
		background-image: url('../graphics/starfield3.s720.png');
	}
}
#starfield4 {
	@scrollOffsetFactor: 0.2;
	.generateStarfieldRules(
		starfield4;
		0.0; 1.0;
		(@scrollOffsetFactor * -0.2); @scrollOffsetFactor;
		outQuadStartToMid; linear
	);
	&.image, & .image {
		background-image: url('../graphics/starfield4.s700.png');
	}
}



// Title-Phase Images

#lakestrip {
	&.image, & .image {
		@media (max-width: @screen-xs-max) {
			background-image: url('../graphics/lakestrip.767x250.png');
		}
		@media (min-width: @screen-sm) {
			background-image: url('../graphics/lakestrip.991x323.png');
		}
		@media (min-width: @screen-md) {
			background-image: url('../graphics/lakestrip.1199x390.png');
		}
		@media (min-width: @screen-lg) {
			background-image: url('../graphics/lakestrip.1920x625.png');
		}
		
		background-repeat: no-repeat;
		background-size: 100% auto;
		
		@initialScrollOffset: 200%;
		@endScrollOffset: 40%;
		background-position: 0 @endScrollOffset; // initially at end just-in-case we don't have JS
		
		.-skrollr-dry-animation(~"lakestrip-pos"; {
			@backgroundPositionProp: ~"background-position[linear]";
			_title_phase_appear { @{backgroundPositionProp}: 0 @initialScrollOffset; }
			_title_phase_close { @{backgroundPositionProp}: 0 @endScrollOffset; }
		});
	}
}

.title-piece {
	position: absolute;
	margin: 0 auto; left: 0; right: 0;
	
	> .inner {
		position: relative;
		width: 100%; height: 100%;
		
		> * {
			position: absolute;
		}
	}
}

#title-logo {
	&:extend(.title-piece all);
	
	top: 5%;
	
	@logoBaseWidth: 605px;
	@logoBaseHeight: 318px;
	
	@logoScale: 1.2;
	width: (@logoBaseWidth * @logoScale); height: (@logoBaseHeight * @logoScale);
	
	> .inner {
		#lacquer {
			@width: (500px / @logoBaseWidth); width: percentage(@width);
			height: auto;
			
			@left: (0px / @logoBaseWidth); left: percentage(@left);
			@top: (0px / @logoBaseHeight); top: percentage(@top);
		}
		#fromdreamstoice {
			@width: (290px / @logoBaseWidth); width: percentage(@width);
			height: auto;
			
			@left: (315px / @logoBaseWidth); left: percentage(@left);
			@top: (153px / @logoBaseHeight); top: percentage(@top);
		}
	}
}

#title-closing {
	&:extend(.title-piece all);
	
	top: 68%; bottom: 0%;
	
	> .inner {
		.statement {
			text-align: center;
			left: 0; right: 0;
		}
		#stargazer {
			@stargazerWidth: 300px; width: @stargazerWidth;
			height: auto;
			
			left: 50%;
			margin-left: (-@stargazerWidth / 2);
			
			bottom: 0;
		}
	}
}

#title-bottom {
	&:extend(.title-piece all);
	
	bottom: 0%;
	
	> .inner {
		#comingsoon {
			bottom: 10px; right: 10px;
		}
	}
}
