@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 700;
	src: local("Cabin Bold Italic"),
		local("Cabin-BoldItalic"),
		url("/fonts/assets/Cabin-BoldItalic.woff") format("woff"),
		url("/fonts/assets/Cabin-BoldItalic.ttf") format("truetype");
}
