@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 500;
	src: local("Cabin Medium Italic"),
		local("Cabin-MediumItalic"),
		url("/fonts/assets/Cabin-MediumItalic.woff") format("woff"),
		url("/fonts/assets/Cabin-MediumItalic.ttf") format("truetype");
}
