@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 600;
	src: local("Cabin SemiBold Italic"),
		local("Cabin-SemiBoldItalic"),
		url("/fonts/assets/Cabin-SemiBoldItalic.woff") format("woff"),
		url("/fonts/assets/Cabin-SemiBoldItalic.ttf") format("truetype");
}
