@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 400;
	src: local("Cabin Italic"),
		local("Cabin-Italic"),
		url("/fonts/assets/Cabin-Italic.woff") format("woff"),
		url("/fonts/assets/Cabin-Italic.ttf") format("truetype");
}
