@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 500;
	src: local("Cabin Medium"),
		local("Cabin-Medium"),
		url("/fonts/assets/Cabin-Medium.woff") format("woff"),
		url("/fonts/assets/Cabin-Medium.ttf") format("truetype");
}
