@font-face {
	font-family: "Cabin Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Cabin Condensed Bold"),
		local("CabinCondensed-Bold"),
		url("/fonts/assets/CabinCondensed-Bold.woff") format("woff"),
		url("/fonts/assets/CabinCondensed-Bold.ttf") format("truetype");
}
