@font-face {
	font-family: "Cabin Condensed";
	font-style: normal;
	font-weight: 500;
	src: local("Cabin Condensed Medium"),
		local("CabinCondensed-Medium"),
		url("/fonts/assets/CabinCondensed-Medium.woff") format("woff"),
		url("/fonts/assets/CabinCondensed-Medium.ttf") format("truetype");
}
